<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <title>Uygunsuzluk Raporu</title>
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<div class="center container my-5 p-5" style="border:1px solid black;">
    <h4 class="text-center">Uygunsuzluk Raporu</h4>
    <form class="col-md-12 offset-md-12" th:action="@{/report-register}" method="post">

        <table class="table">
            <thead>
            <tr>
                <td scope="col">Müşteri Şikayeti</td>
                <td scope="col">Müşteri tarafından tespit edilen uygunsuzluk</td>
                <td scope="col">Üretim Uygunsuzluğu</td>
                <td scope="col">Kalite Uygunsuzluğu</td>
                <td scope="col">Tasarım / Arge Uygunsuzluğu</td>
                <td scope="col">Sistem Uygunsuzluğu / Diğer</td>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="musteriSikayeti" id="musteriSikayeti">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="musteriUygunsuzluk" id="musteriUygunsuzluk">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="uretimUygunsuzluk" id="uretimUygunsuzluk">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="kaliteUygunsuzluk" id="kaliteUygunsuzluk">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="argeUygunsuzluk" id="argeUygunsuzluk">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="diger" id="diger">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Sipariş Numarası
                    <div class="mb-3">
                        <label for="siparisNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="siparisNumarasi">
                    </div>
                </td>

                <td colspan="2">
                    Proje Numarası
                    <div class="mb-3">
                        <label for="projeNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="projeNumarasi">
                    </div>
                </td>

                <td colspan="2">
                    Uygunsuzluk No
                    <div class="mb-3">
                        <label for="uygunsuzlukNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="uygunsuzlukNumarasi">
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    İş Emri No
                    <div class="mb-3">
                        <label for="isEmriNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="isEmriNumarasi">
                    </div>
                </td>

                <td colspan="2">
                    Parça Numarası
                    <div class="mb-3">
                        <label for="parcaNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="parcaNumarasi">
                    </div>
                </td>

                <td colspan="2">
                    Uygunsuzluk Tarihi
                    <div class="mb-3">
                        <label for="uygunsuzlukTarihi" class="form-label">
                        </label>
                        <input type="date" class="form-control" name="uygunsuzlukTarihi"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    Parça Revizyon No
                    <div class="mb-3">
                        <label for="parcaRevizyonNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="parcaRevizyonNumarasi">
                    </div>
                </td>

                <td colspan="2">
                    Tezgah No
                    <div class="mb-3">
                        <label for="tezgahNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="tezgahNumarasi">
                    </div>
                </td>

                <td colspan="2">
                    Tesbit Edildiği Operasyon No
                    <div class="mb-3">
                        <label for="operasyonNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="operasyonNumarasi">
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    Üretim Adedi
                    <div class="mb-3">
                        <label for="uretimAdedi" class="form-label">
                        </label> <input type="text" class="form-control" name="uretimAdedi">
                    </div>
                </td>
                <td colspan="2">
                    Kabul Adet
                    <div class="mb-3">
                        <label for="kabulAdet" class="form-label">
                        </label> <input type="text" class="form-control" name="kabulAdet">
                    </div>
                </td>
                <td colspan="2">
                    Uygunsuz Adet
                    <div class="mb-3">
                        <label for="uygunsuzAdet" class="form-label">
                        </label> <input type="text" class="form-control" name="uygunsuzAdet">
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    Personel Bilgisi
                    <div class="mb-3">
                        <label for="personelBilgisi" class="form-label">
                        </label> <input type="text" class="form-control" name="personelBilgisi">
                    </div>
                </td>
                <td colspan="3">
                    Seri Numarası
                    <div class="mb-3">
                        <label for="seriNumarasi" class="form-label">
                        </label> <input type="text" class="form-control" name="seriNumarasi">
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    Tesbit Edildiği Bölüm
                    <div class="mb-3">
                        <label for="tesbitEdildigiBolum" class="form-label">
                        </label> <input type="text" class="form-control" name="tesbitEdildigiBolum">
                    </div>
                </td>
                <td colspan="3">
                    Müşteri Bilgisi
                    <div class="mb-3">
                        <label for="musteriBilgisi" class="form-label">
                        </label> <input type="text" class="form-control" name="musteriBilgisi">
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="6">
                    Uygunsuzluk Tanımı
                    <div class="mb-6">
                        <label for="uygunsuzlukTanimi" class="form-label">
                        </label><textarea class="form-control" name="uygunsuzlukTanimi" id="uygunsuzlukTanimi"></textarea>
                    </div>
                </td>
            </tr>


            </tbody>
        </table>

        <center><button type="submit" class="btn btn-primary">Gönder</button></center>
    </form>
</div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>
</html>